#menu
{
    position: fixed;
    z-index: 70;
    top: 50%;
    right: 20px;

    width: 90px;
    margin: -160px 0 0;
    padding: 0;

    list-style-type: none;
}
#menu li
{
    font-size: 14px;
    margin-top: 10px;
}
#menu a
{
    display: block;
    padding: 10px 0;
    text-align: center;
    text-decoration: none;
    color: #0074ea;
    background-color: #fff;
}
#menu .active a
{
    color: #fff;
    background-color: rgb(0, 116, 234);
}
.section
{
    font-size: 18px;

    text-align: center;

    color: #fff;
}
.section1
{
    background: url(../img/bg_1.jpg) 50% no-repeat;
}
.screen-main
{
    position: relative;
    width: 1280px;
    height: 840px;
    margin: 0 auto;
}
.screen-main span
{
    position: absolute;
}

@media (min-width: 768px) {
    .side1{
        background-image: url(../img/bg_2.png);
    }
    .side2{
        background-image: url(../img/bg_3.png);
    }
    .side3{
        background-image: url(../img/bg_4.png);
    }
    .silde4{
        background-image: url(../img/bg_5.png);
    }

}

@media (min-width: 1200px) {
    .side1{
        background-image: url(../img/bg_2_big.png);
    }
    .side2{
        background-image: url(../img/bg_3_big.png);
    }
    .side3{
        background-image: url(../img/bg_4_big.png);
    }
    .silde4{
        background-image: url(../img/bg_5-big.png);
    }
}

.silde5{
    background-image: url(../img/bg_6.jpg);
}

.science-inner
{
    position: relative;

    overflow: hidden;

    width: 980px;
    height: 850px;
    margin: 0 auto;

    /*background-image: url(../img/bg_2.png);*/
}


.famous-inner
{
    position: relative;

    overflow: hidden;

    width: 980px;
    height: 850px;
    margin: 0 auto;

    /*background-image: url(../img/bg_3.png);*/
}

.social-inner
{
    position: relative;

    overflow: hidden;

    width: 980px;
    height: 850px;
    margin: 0 auto;

    /*background-image: url(../img/bg_4.png);*/
}

.net-inner
{
    position: relative;

    overflow: hidden;

    width: 980px;
    height: 850px;
    margin: 0 auto;

    /*background-image: url(../img/bj_5.png);*/
}

.screen-main .shi1
{
    z-index: 4;
    top: -455px;
    left: -501px;

    width: 79px;
    height: 75px;

    background: url(../img/shi1.png);
}
.screen-main .shi2
{
    z-index: 1;
    top: -359px;
    left: 1387px;

    width: 276px;
    height: 140px;

    background: url(../img/shi2.png);
}
.screen-main .shi3
{
    z-index: 3;
    top: -359px;
    left: -619px;

    width: 173px;
    height: 233px;

    background: url(../img/shi3.png);
}
.screen-main .shi4
{
    z-index: 2;
    top: -259px;
    left: 1398px;

    width: 286px;
    height: 142px;

    background: url(../img/shi4.png);
}
.screen-main .ji1
{
    z-index: 2;
    top: -589px;
    left: -327px;

    width: 92px;
    height: 90px;

    background: url(../img/ji1.png);
}
.screen-main .ji2
{
    z-index: 2;
    top: -487px;
    left: 1648px;

    width: 127px;
    height: 234px;

    background: url(../img/ji2.png);
}
.screen-main .ji3
{
    z-index: 2;
    top: -488px;
    left: -244px;

    width: 195px;
    height: 293px;

    background: url(../img/ji3.png);
}
.screen-main .slogen
{
    z-index: 1;
    top: -106px;
    left: 1462px;

    width: 363px;
    height: 45px;

    background: url(../img/slogen.png);
}

.science-inner a
{
    position: absolute;

    display: inline-block;
    float: left;

    white-space: nowrap; 
    text-decoration: none;

    color: #004b85;
}
.science-inner a:hover
{
    color: #1c9cff;
}
.science-inner .stiteml
{
    padding-left: 37px;
}
.science-inner .stitemr
{
    padding-right: 37px;
}
.science-inner .st4
{
    font-size: 48px;
}
.science-inner .st7
{
    font-size: 48px; 
}

.science-inner .st12
{
    font-size: 48px; 
}
.science-inner .st13
{
    padding-left: 47px; 
}
.science-inner .st14
{
    font-size: 48px; 
}
.science-inner .st15
{
    padding-left: 47px; 
}
.science-inner .st16
{
    padding-left: 47px; 
}
.science-inner .st17
{
    padding-left: 47px; 
}

.famous-inner a
{
    position: absolute;

    display: inline-block;
    float: left;

    white-space: nowrap; 
    text-decoration: none;

    color: #8a5e25;
}
.famous-inner a:hover
{
    color: #d58116;
}
.famous-inner .faiteml
{
    padding-left: 37px;
}
.famous-inner .faitemr
{
    padding-right: 37px;
}
.famous-inner .fa3
{
    font-size: 48px; 
}
.famous-inner .fa5
{
    font-size: 48px; 
}
.famous-inner .fa7
{
    font-size: 48px; 
}
.famous-inner .fa8
{
    padding-left: 47px; 
}
.famous-inner .fa9
{
    padding-left: 47px; 
}
.famous-inner .fa10
{
    padding-left: 47px; 
}
.famous-inner .fa11
{
    font-size: 48px; 
}
.social-inner a
{
    position: absolute;

    display: inline-block;
    float: left;

    white-space: nowrap; 
    text-decoration: none;

    color: #535353;
}
.social-inner a:hover
{
    color: #bababa;
}
.social-inner .soiteml
{
    padding-left: 47px;
}
.social-inner .soitemr
{
    padding-right: 47px;

}
.social-inner .so1
{
    font-size: 48px; 
}
.social-inner .so2
{
    background-position: 0 -118px;
}
.social-inner .so8
{
    font-size: 48px; 
}
.social-inner .so10
{
    font-size: 48px; 
}
.social-inner .so13
{
    font-size: 48px; 
}
.net-inner a
{
    position: absolute;

    display: inline-block;
    float: left;

    white-space: nowrap; 
    text-decoration: none;

    color: #00a0e9;
}
.net-inner a:hover
{
    color: #054b6b;
}
.net-inner .netiteml
{
    padding-left: 37px;
}
.net-inner .netitemr
{
    padding-right: 37px;
}
.net-inner .net9
{
    font-size: 48px; 
}
.net-inner .net12
{
    font-size: 48px; 
}
.net-inner .net14
{
    font-size: 48px; 
}
.net-inner .net15
{
    font-size: 48px; 
}
.net-inner .net18
{
    padding-left: 50px;
}
.net-inner .net19
{
    padding-left: 50px;
}
.net-inner .net20
{
    padding-left: 50px;
}

.zanzhu
{
    text-align: left;
}
.zanzhu-con
{
    overflow: hidden;
    zoom: 1;

    width: 880px;
    height: 273px;
    margin: 0 auto;
}
.zanzhu h2
{
    font-size: 30px ;

    position: relative;
    left: 28px;

    width: 880px;
    margin: 0 auto 20px;

    color: #FFF;
}
.zanzhu-con a
{
    display: none;
    float: left;

    margin: 0 0 10px 28px;
}

.foot
{
    font-size: 12px;
    line-height: 30px;

    margin-top: 100px;

    text-align: center;

    color: #FFF;
}
.foot a
{
    color: #FFB;
}

.back{
    position: fixed;
    top:90%;
    left: 90%;
    /*background-color: #00a0e9;*/
    z-index: 999;
}

.back a{
    display: block;
    width: 50px;
    height: 50px;
    background-image: url("../img/back.png");
}

.back a:hover{
    background-image: url("../img/back2.png");
}
